<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/blog.css">
    <title>Blog #1</title>
</head>
<body>
    <nav>
            <ul class="page-links">
                <li>
                    <a href="project.html">Projects</a>
                </li>
                <li>
                    <a href="professional.html">Resume</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                    <a href="../index.html">Home</a>
                    </li>
            </ul>
        </nav>
        <div id="blog-main-container">
  <!-- <h1>Starting the Journey</h1>
   <p>My journey into coding truly began two weeks ago. I came in the classroom not knowing what to expect, but knowing that I plan to finish. So far github branches have been a pain in the YOU_KNOW_WHAT! I have no error with it on a normal occasion github. I must admit after doing the repo assignment I  really had no choice but to get the understanding(insert emoji of yellow girl and the shoulder shrug). Although this journey has just began I feel that I am learning the things needed to have a successful career. For those who dont know about github...Become a Developer and you shall find out. Just kidding, let me explain.</p>
   <p>Github, starts with a understanding of Git, which is a open source version control where developers create i.e. apps by making several changes before releasing as an active app. The version control allows for storing updates. It makes public your code allowing other members to contribute to your work as well. Now that we know what github is let me share a few cool things you can do.</p> 
   <p>At the start of each project you create a repository. This is also known as a repo and its where all files for your one project can be stored. This makes your work easily accessible for you and others if sharing. You also have the ability to contribute to other projects. You simply request to contribute and based off you repo the owner can allow you to make changes in their projects. It's also a smart way to connect with fellow developers. There is a follow feature that allows for additional communication. You are able to create a profile </p> -->
</div>
   <script src="../javascripts/blogs.js"></script>
</body>
</html>