<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="contact.css">
    <title>Contact Page</title>
</head>
<body>
        <nav>
                <ul>
                    <li>
                        <a href="project.html">Projects</a>
                    </li>
                    <li>
                        <a href="professional.html">Resume</a>
                    </li>
                    <li>
                        <a href="blog/blog1.html">Blogs</a>
                    </li>
                    <li>
                        <a href="index.html">Home</a>
                        </li>
                </ul>
            </nav>
    <article>
        <ul>
        <h1>HOW TO CONTACT ME</h1>
        <article>
            <section>
                <a href="https://www.instagram.com/lola_thedev/">IG</a>
            </section>
            <section>
                <a href="https://www.facebook.com/">FACEBOOK</a>
            </section>
            <section>
                <a href="https://github.com/lolasimp">GITHUB</a>
            </section>
            <section>
                <a href="https://twitter.com/?lang=en">TWITTER</a>
            </section>
        </article>

        </ul>    
    </article>
</body>
</html>