{
"apiKeys": {
  "site": {
    "apiKeys":""
  },
  "firebase": {
      "apiKey": "",
        "authDomain": "",
        "databaseURL": "",
        "projectId": "",
        "storageBucket": "",
        "messagingSenderId": ""
  }
 }
}