body {
  /* background-image: url("../img/berries.png") no-repeat center center fixed; */
  background-color: red;
}

* {
    padding: 0;
    margin:0;
}
.home-header {
    width: 477px;
    padding-left: 307px;
    padding-top: 90px;
}

#name-title{
    color: #7360d0bf;
}

h2 {
    color: #7360d0bf;
}

.bio-image {
    width: 255px;
    border-radius: 90%;
}
.intro {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    float: right;
    flex-direction: row;
}

footer {
    font-size: 1.4rem;
    margin-bottom: 8px;
    padding-top: 800px;
    float: right;
}

/* Projects Styling */

.project-photo {
  margin-top: -67px;
  margin-bottom: 84px;
  float: left;
  margin-left: -468px;
  height: 426px;
  width: 421px;
  padding-bottom: 127px;
}