* {
    padding: 0;
    margin:0;
}


a:hover{
    color: blue;
    background-color: yellow;
    text-transform: 5px;
}

article {
    padding-top: 80px;
}


h1 {
    padding-top: 90px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
}


.heading {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
} 


footer {
    font-size: 1.4rem;
    margin-bottom: 8px;
    padding-top: 800px;
} 